*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f2f0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* Navbar Styling */
nav{
    width: auto;
    height: auto;
}

.navItems{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.menuItems{
    width: 30%;
    cursor: pointer;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #868585;
}

.menuItems li:hover{
    color: #000000;
    transition: 300ms;
    transform: scale(1.1);
}

.line{
    width: 20%;
    border-radius: 40px;
    height: 1.7px;
    background-color: #333333;
    margin-right: -215px;
}


/* Image Left */
.leftContainer .leftImage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}


.leftImage img{
    width: 35vw;
    top: 0;
    left: 0;
}



/* .leftContainer .leftImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35vw;
    z-index: -1;
}
.leftContainer .leftImage img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
} */



.logo{
    filter: invert(1);
}

.logo img{
    width: 80px;
}

.quoteImage img{
    width: 200px;
}