@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f2f0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* Navbar Styling */
nav{
    width: auto;
    height: auto;
}

.navItems{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.menuItems{
    width: 30%;
    cursor: pointer;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #868585;
}

.menuItems li:hover{
    color: #000000;
    transition: 300ms;
    transform: scale(1.1);
}

.line{
    width: 20%;
    border-radius: 40px;
    height: 1.7px;
    background-color: #333333;
    margin-right: -215px;
}


/* Main Image Left */
.leftContainer .leftImage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.leftImage{
    position: relative;
}

.leftImage img{
    object-fit: cover;
    width: 35vw;
    height: 100%;
    top: 0;
    left: 0;
}

/* White Logo Inverted */
.logo{
    filter: invert(1);
}

.logo img{
    width: 80px;
}

.quoteImage img{
    width: 200px;
}

/* Creativity containers */
.rightContainerUpper{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: space-around;
    left: 550px;

}

.firstHead{
    position: relative;
    left: -100px;    
}

.Desc_Social{
    display: flex;
    height: 200px;
}

.DescHead{
    position: relative;
    top: 220px;
    left: -100px;
    color:#5c5b5b;
    font-family:"Merriweather";
    font-size: 1.2rem;
    font-weight: 200;
    
}

/* Social Icons */
.Social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}

.socialIcons{
    position: relative;
    top: 50px;
    
}

.socialIcons img{
    width: 20px;
}

/* Creative Text */
.firstHead{
    font-family:"Merriweather";
    font-size: 7rem;
    font-weight: 900;
    color: #F5F2F0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.secondHead{
    color:#333333;
    font-family: "Merriweather";
    font-size: 7rem;
    font-weight: 900;
}

/* button */
.packages{
    position: relative;
    display: flex;
    justify-content: center;
    left: 380px;
    font-size: 20px; 
    font-weight: 300;  
    
}

.checkPackage{
    /* padding: 20px; */
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    border: none ;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}

.checkPackage:hover{
    background-color: #666666;
    transition: 400ms;
    
}

